 *{
    margin: 0;
    padding: 0;
}
#foldertextbox{
margin-left: 100px;
margin-top: 20px;

}
h1{
    margin-left: 100px;
    margin-top: 20px;
}
#addbtn{
    height: 30px;
    width: 80px;
    margin-left: 10px;
}
#folder-texbox{
    height: 25px;
    width: 20vmin;
}
#current{
    margin-left: 100px;
    margin-top: 20px;
}
#subadd{
     height: 20px;
    width: 40px;
    margin-left: 100px;
}
#edit{
     height: 20px;
    width: 40px;
} 
