
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #f3f3f3, #e2e2e4);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.main-register {
    width: 420px;
    margin: auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(57, 56, 56, 0.3);
}

.register-top input[type="text"],
.register-top input[type="email"],
.register-top input[type="password"],
.register-top input[type="digit"] {
    width: 100%;
    padding: 12px;
    border: none;
    margin: 10px 0;
    border-radius: 6px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.9);
}

.register-top input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #141ca4;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}
.register-top p {
    margin-top: 15px;
    font-size: 15px;
}

.register-top p a {
    color: #100606;
    text-decoration: underline;
}



.err{
    color: red;
}
#err-name{
    display: none;
}
#err-email{
    display: none;
}
#err-pass{
    display: none;
}
#err-repass{
    display: none;
}
#err-check{
    display: none;
}
@media (max-width: 480px) {
    .main-registerinfo {
        width: 90%;
        padding: 30px;
    }
}
