*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10vh ;
    width: 100vh;
   
    
}
.ad-task{
    margin: 4vh;
    display: flex;
    flex-wrap: wrap;
    height: 35vh;
    width: 60vh;
    border: 2px solid black;
    border-radius: 5px;
}
.formcontainer{
    display: flex;
}
.form-group{
      display: flex;
    flex-direction: column;
    margin: 10px;
    width:30vh;
}
#ad-task{
    margin: 10px;
    height: 4vh;
    width: 53vh;
}
#task-discription{
    margin: 10px;
    height: 6vh;
    width: 53vh;
}
#btn{
    margin-left: 10px;
    height: 5vh;
    width: 15vh;
}
#lb{
    font-weight: bold;
    margin-left: 10px   ;

}
 
.table-group{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.table{
    margin: 5px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
     height: auto;
    width: 150vh;
}
th  {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    
}
td{
     border: 2px solid black;
    border-radius: 5px;
    padding: 3px;

}
#ac{
    width: 29.5vh;
}
.editBtn{
    width: 8vh;
}
.deleteBtn{
    width: 8vh;
}.statusBtn{
    width: 12vh;
}
.input{
    width: 51vh;
}