body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background: #d6d2d2;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 24px;
}

.form-group {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 85vmin;
        width: 25%;
        margin: auto;
        background: #fff;
        padding: 30px 40px;
        border-radius: 8px;
        box-shadow: 0 2px rgba(0,0,0,0.1);
    
}

label {
    margin-bottom: 6px;
    color: #555;
    font-weight: bold;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
}

input:focus, select:focus {
    border-color: #007bff;
}

button[type="submit"] {
    background: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 12px;
    transition: background 0.2s;
}

button[type="submit"]:hover {
    background: #0056b3;
}
.usertable {
    width:  auto ;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    
}
.phone::-webkit-inner-spin-button,
.phone::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
.namecell {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
