
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #f3f3f3, #e2e2e4);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #150505;
    margin-bottom: 20px;
    font-weight: 600;
}

.main-logininfo {
    width: 420px;
    margin: auto;
    background: rgba(239, 243, 244, 0.15);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(66, 53, 53, 0.3);
}



.login-top input[type="email"],
.login-top input[type="password"] {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    margin: 10px 0;
    border-radius: 6px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.9);
}

.login-top input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #141ca4;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.login-top p {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
}

.login-top p a {
    color: #100606;
    text-decoration: underline;
}
#err-email{
    display: none;
}
#err-pass{
    display: none;
}

@media (max-width: 480px) {
    .main-logininfo {
        width: 90%;
        padding: 30px;
    }
}
